In [141]:
import pandas as pd

In [142]:
melb_data = pd.read_csv('melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
print(melb_data['Address'].nunique())
# количество уникальных элементов

13378

In [143]:
print(melb_df['Address'].loc[177])
print(melb_df['Address'].loc[1812])
print(melb_df['Address'].loc[9001])

2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

In [144]:
def get_street_type(address):
    exclude_list = ['N', 'S', 'W', 'E']
    # список географичексих пометок
    address_list = address.split(' ')
    # split() разбивает строку на слова по проберу, получаем список слов
    street_type = address_list[-1]
    # обрезаем список, оставляем только последний элемент - предположительный подтип улицы
    if street_type in exclude_list:
        street_type = address_list[-2]
        return street_type
    if street_type == 'Parade':
            street_type = 'Pde'
    if street_type == 'Avenue':
        street_type = 'Av'
    if street_type == 'Boulevard':
            street_type = 'Bvd'
    # провека на наличие подтипа;
    # если переменная является географической пометкой
    # переопределяем ее на второй элемент с конца списка
    return street_type
    # возвращаем переменную, в к-й хранится подтип улицы

In [145]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)
# Метод apply() позволяет применить функцию к каждому элементу в столбце

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

__nunique()__ - выводит количество уникальных элементов

__inique()__ - выводит последовательность уникальных элементов

In [146]:
print(street_types.nunique())
# теперь количеств уникальных значений 56!

53

In [147]:
display(street_types.value_counts())

St           8012
Rd           2825
Ct            612
Dr            447
Av            361
Gr            311
Pde           226
Pl            169
Cr            152
Cl            100
La             67
Bvd            66
Tce            47
Wy             40
Cct            25
Hwy            24
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Mews            4
Grn             4
Fairway         4
Gdns            4
Righi           3
Crossway        3
Esp             2
Victoria        2
Ridge           2
Crofts          2
Grand           1
Summit          1
Hts             1
Athol           1
Highway         1
Outlook         1
Woodland        1
Ave             1
Gra             1
Terrace         1
Eyrie           1
Dell            1
East            1
Loop            1
Nook            1
Glade           1
Qy              1
Cove            1
Res             1
Grange          1
Corso           1
Name: Address, dtype: int64

In [148]:
popular_stypes = street_types.value_counts().nlargest(10).index
print(popular_stypes)
# к результату прибываем метод nlargest(), который возвращает n наибольших значений
# их названия извлечем с помощью атрибута index

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

Теперь, когда у нас есть список наиболее популярных подтипов улиц, введём lambda-функцию, которая будет проверять, есть ли строка x в этом перечне, и, если это так, lambda-функция будет возвращать x, в противном случае она будет возвращать строку 'other'. Наконец, применим такую функцию к Series street_types, полученной ранее, а результат определим в новый столбец таблицы StreetType

In [149]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [152]:
print(melb_df['StreetType'].nunique())
# теперь уникальных значений всего 11

11

In [153]:
melb_df = melb_df.drop('Address', axis=1)
display(melb_df)

,index,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,StreetType
0,0,Abbotsford,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,202.0,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984",St
1,1,Abbotsford,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934",St
2,2,Abbotsford,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944",St
3,3,Abbotsford,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,94.0,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969",other
4,4,Abbotsford,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941",St
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,652.0,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761",Cr
13576,13576,Williamstown,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,333.0,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904",Dr
13577,13577,Williamstown,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,436.0,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738",St
13578,13578,Williamstown,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299",St
13579,13579,Yarraville,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,362.0,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449",St

In [160]:
melb_df['SellerG']

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: SellerG, Length: 13580, dtype: object

___4.3___  
Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.  
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'.  
Ответ округлите до десятых.

In [182]:
# 4.3
all_sellers = melb_df['SellerG']
popular_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['Seller'] = all_sellers.apply(lambda x: x if x in popular_sellers else 'other')

seller_nelson = melb_df[melb_df['Seller'] == 'Nelson']['Price'].min()
seller_other = melb_df[melb_df['Seller'] == 'other']['Price'].min()
print(round(seller_nelson / seller_other,1))

1.3