In [3]:
import pandas as pd
data = pd.read_csv('citibike-tripdata.csv', sep=',')
display(data.head(5))

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [5]:
# 6.1
data['start station id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB

In [9]:
# 6.2
data['starttime']
data['stoptime']

0         2018-09-01 00:27:20.6340
1         2018-09-01 00:02:23.4810
2         2018-09-01 00:55:58.5470
3         2018-09-01 00:07:38.5830
4         2018-09-01 02:21:25.3080
                    ...
299995    2018-09-05 19:15:51.4940
299996    2018-09-05 19:20:01.5080
299997    2018-09-05 19:13:40.5060
299998    2018-09-05 20:04:29.3220
299999    2018-09-05 19:12:14.7620
Name: stoptime, Length: 300000, dtype: object

In [12]:
# 6.3
data['start station id'].mode()[0]

281.0

In [13]:
# 6.4
data['bikeid'].mode()[0]

33887

In [21]:
# 6.5
round(data['usertype'].value_counts(normalize=True),2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

In [27]:
# или так 6.5
mode_usertype = data['usertype'].mode()[0]
count_mode_user = data[data['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / data.shape[0], 2))

0.77
300000

In [32]:
# 6.6
data['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [30]:
male = data[data['gender'] == 1].shape[0]
female = data[data['gender'] == 2].shape[0]
print(max([male, female]))

183582

In [47]:
# 6.7
# 1)
data['start station name'].nunique() == data['end station name'].nunique()
# 2
2018 - data['birth year'].max()
# 3
data['start station name'].value_counts()
# 4
data['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [ ]:
# 6.8
data.drop(['start station id', 'end station id'], axis=1, inplace=True)
data.shape[1]

In [ ]:
# 6.9
def find_age(birth_year):
    age = 2018-birth_year
    return age

data['age']= data['birth year'].apply(find_age)
data.drop(['birth year'], axis=1, inplace=True)

In [74]:
# 6.9 продолжение
data[data['age']>60].shape[0]

11837

In [82]:
# 6.10
data['starttime'] = pd.to_datetime(data['starttime'])
data['stoptime'] = pd.to_datetime(data['stoptime'])

data['trip duration'] = data['stoptime'] - data['starttime']

round(data['trip duration'].mean().seconds)

1126

In [87]:
# 6.11
data['weekend'] = data['starttime'].dt.dayofweek

data['weekend'] = data['weekend'].apply(lambda x: 1 if x>4 else 0)
print(data['weekend'].sum())

115135

In [94]:
# 6.12
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    if 6 < time <=12:
        return 'morning'
    if 12 < time <=18:
        return 'day'
    if 18 < time <=23:
        return 'evening'
    else:
        return 'other'

time_of_day = data['starttime'].dt.hour
data['time of day'] = time_of_day.apply(get_time_of_day)
day = data[data['time of day'] == 'day'].shape[0]
night = data[data['time of day'] == 'night'].shape[0]
print(round(day/night))
display(data)

9

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,weekend,time of day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000,0,evening
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000,0,evening
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000,0,evening
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000,0,evening
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000,0,evening