In [3]:
import pandas as pd
student_data=pd.read_csv('students_performance.csv', sep = ',')
student_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [9]:
# 9.1
# Данные о скольких студентах содержатся в таблице?
student_data.shape[0]

1000

In [10]:
# 9.2
# Каков балл по письму у студента под индексом 155?
student_data['writing score'].iloc[155]
student_data.loc[155, 'writing score']

88

In [11]:
# 9.3, 9.4, 9.5
# Сколько суммарно пропущенных значений в таблице?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [13]:
# 9.6
# Каков у студентов средний балл по математике?
round(student_data['math score'].mean())

66

In [14]:
# 9.7
# Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [22]:
# 9.8
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [25]:
# 9.9
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score']==0].shape[0]

1

In [28]:
# 9.10
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше,
# чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
mask_standart = round(student_data[student_data['lunch'] == 'standard']['math score'].mean())
mask_free = round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())
display(mask_standart, mask_free)

70

59

In [30]:
# 9.11
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
round(student_data['parental level of education'].value_counts(normalize=True)*100)

some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: parental level of education, dtype: float64

In [32]:
# 9.12
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму 
# у студентов в расовой группе C?
mask_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mask_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].median()
display(abs(round(mask_a-mask_c)))

6